#recipe-show
  %h1= @recipe.name
  .row
    .col-md-6
      = image_tag @recipe.image.url(:medium), class: 'img-responsive'
    .col-md-6
      %h3 Description
      = @recipe.description
  .row
    .col-md-6
      = link_to recipes_path, class: 'btn btn-primary' do
        %i.fa.fa-floppy-o
        Back
