#users-form
  .table.table-hover
    %tr
      %th
        Name
    - @users.each do |user|
      %tr
        %td
          = link_to user.name, user
        %td= user.age
        %td= user.created_at.strftime("%d/%m/%Y")
        %td
          = link_to edit_user_path(user), class: 'btn btn-default' do
            %span.glyphicon.glyphicon-pencil
            Edit
