.navbar
  .navbar-header
    .navbar-brand
      padding: 0 15px
      img
        height: 65px

textarea
  resize: vertical

html
  height: 100%

  body
    height: 100%
    background-image: image-url("background.jpg")
    background-attachment: fixed
    main
      min-height: calc(100% - 141px)
      & > .container
        background-color: #ffffff
        margin-bottom: 20px

footer
  margin-top: 45px
  background-color: #ffffff
  border-top: 1px solid #ddd
  img
    height: 95px
  #nav-bottom
    margin: 26px 0
